doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    style(src="css/style.css")
    title ご飯の履歴を作る謎サイト
  body
    h1.sitettl 家族3人のご飯の履歴を残すサイトです。
      p とりあえず作ったので今後運用を考えます。
    main.main
      h2.content_ttl 2019スタート